<h3 ng-show="!caro.principal">
   <!-- START Language list-->
   <div class="pull-right">
      <div dropdown="" is-open="language.listIsOpen" class="btn-group">
         <button type="button" dropdown-toggle="" class="btn btn-default">{{language.selected}}
            <span class="caret"></span>
         </button>
         <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
            <li ng-repeat="(localeId, langName) in language.available"><a ng-click="language.set(localeId, $event)" href="#">{{langName}}</a>
            </li>
         </ul>
      </div>
   </div>
   <!-- END Language list    -->
   {{ 'dashboard.INFORMATION' | translate:{ appName: app.name } }}
   <small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small>
</h3>

<div class="container-fluid"> 

   <div ng-show="!caro.principal">
   <!-- START widgets box-->
      <div class="row">

         <div class="col-lg-3 col-sm-6">
            <!-- START widget-->
            <a href="" ng-click="caro.teste()">
               <div class="panel widget bg-primary">
                  <div class="row row-table">
                     <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                        <em class="icon-cloud-upload fa-3x"></em>
                     </div>
                     <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{ 'dashboard.SALDO' | translate:{ appName: app.name } }}</div>
                     </div>
                  </div>
               </div>
            </a>
            
            <input type='text' class="form-control" id="saldo" ng-model="caro.saldo" ng-show="caro.showsaldo" ng-virtual-keyboard="{forcePosition: 'bottom', enterSubmit:caro.executeSaldo}"/>

         </div>

         <div class="col-lg-3 col-sm-6">
            <!-- START widget-->
            <a href="" ng-click="caro.recarga()">
               <div class="panel widget bg-purple">
                  <div class="row row-table">
                     <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                        <em class="icon-globe fa-3x"></em>
                     </div>
                     <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">RECARGA DE BILHETE
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </div>

         <div class="col-lg-3 col-md-6">
            <!-- START widget-->
            <div class="panel widget bg-green">
               <div class="row row-table">
                  <div class="col-xs-4 text-center bg-green-dark pv-lg">
                     <em class="icon-bubbles fa-3x"></em>
                  </div>
                  <div class="col-xs-8 pv-lg">
                     <div class="h2 mt0">PREVISÕES CHEGADA</div>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-lg-3 col-md-6">
            <!-- START widget-->
            <div class="panel widget bg-gray">
               <div class="row row-table">
                  <div class="col-xs-4 text-center bg-gray-dark pv-lg">
                     <em class="icon-bubbles fa-3x"></em>
                  </div>
                  <div class="col-xs-8 pv-lg">
                     <div class="h2 mt0">CONSULTA DA PARADA</div>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-lg-3 col-md-6">
            <!-- START date widget-->
            <div class="panel widget">
               <div class="row row-table">
                  <div class="col-xs-4 text-center bg-green pv-lg">
                     <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
                     <now format="MMMM" class="text-sm"></now>
                     <br/>
                     <now format="d" class="h2 mt0"></now>
                  </div>
                  <div class="col-xs-8 pv-lg">
                     <div class="h2 mt0">
                        <now format="EEEE" class="text-uppercase"></now>
                        <br/>
                        <now format="h:mm" class="h2 mt0"></now>
                        <now format="a" class="text-muted text-sm"></now>
                     </div>
                  </div>
               </div>
            </div>

            <!-- END date widget    -->
         </div>

      </div>
   <!-- END widgets box-->

      <div class="container-fluid">         
         <div>      
            <div class="carousel-demo">
               <ul rn-carousel="" rn-carousel-index="caro.carouselIndex2" rn-carousel-auto-slide="" rn-carousel-pause-on-hover="" rn-carousel-buffered="" class="list-unstyled carousel2">            
                  <li ng-repeat="slide in caro.pontos track by slide.id" ng-class="'id-' + slide.id">
                     <h3>{{ slide.desc }}</h3>
                     <div ng-style="{'background-image': 'url(' + slide.img + ')'}" class="bgimage"></div>
                  </li>
               </ul>         
            </div>
         </div>
      </div>
   </div>


   <div ng-show="caro.principal" ng-click="caro.principal = false">
      <div class="container-fluid">         
         <div>      
            <div class="carousel-demo">
               <ul rn-carousel="" rn-carousel-index="caro.carouselIndex2" rn-carousel-auto-slide="" rn-carousel-pause-on-hover="" rn-carousel-buffered="true" class="list-unstyled carousel2">            
                  <li ng-repeat="slide in caro.banners track by slide.id" ng-class="'id-' + slide.id">
                     <h3>{{ slide.desc }}</h3>
                     <div ng-style="{'background-image': 'url(' + slide.img + ')'}" class="bgimage"></div>
                  </li>
               </ul>         
            </div>
         </div>
      </div>
   </div>

</div>




<script type="text/ng-template" id="tpl.html">
  
   <form role="form">

      <div class="form-group">
         <label>Número Cartão</label>
         <input 
            type="number" 
            ng-model="recarga.numerocartao" 
            ng-virtual-keyboard="{forcePosition: 'bottom'}"
            placeholder="Número Cartão" class="form-control" />
      </div>

      <div class="form-group">
         <label>Valor</label>
         <input type="number" 
            ng-model="recarga.valor" 
            ng-virtual-keyboard="{forcePosition: 'bottom'}"
            placeholder="Valor" class="form-control" />
      </div>

      <div class="form-group">

         <div class="col-sm-12">      
            <div class="row">
               <div class="col-sm-8">
                  <label>Número Cartão Crédito</label>
                  <input type="number" 
                     ng-model="recarga.numerocartaocredito" 
                     ng-virtual-keyboard="{forcePosition: 'bottom'}"
                     placeholder="Número Cartão Crédito" class="form-control" />
               </div>
               <div class="col-sm-4">
                  <label>CVV</label>
                  <input type="number" 
                     ng-model="recarga.cvv" 
                     ng-virtual-keyboard="{forcePosition: 'bottom'}"
                     placeholder="Código de Seguranca" class="form-control" />
               </div>
            </div>
         </div>         
         
      </div>

      <div class="form-group">
         <label>Nome Cartão</label>
         <input type="text" 
            ng-model="recarga.nomecartao" 
            ng-virtual-keyboard="{forcePosition: 'bottom'}"
            placeholder="Nome Cartão" class="form-control" />
      </div>

      <div class="form-group">
         <label>Expiracao</label>
         <input type="date" 
            ng-model="recarga.expiracao" 
            placeholder="Expiracao" class="form-control" />
      </div>
      
      <div class="form-group">
         <div class="col-lg-offset-2 col-lg-10">            
            <button type="clear" ng-click="closeThisDialog('Cancel')" class="btn btn-lg btn-danger">Cancelar</button>
            <button type="submit" ng-click="confirm(recarga)" class="btn btn-lg btn-primary">Efetuar Compra</button>
         </div>
      </div>
   </form>
      
</script>