<h3>Weather Icons
   <small>Static and animated weather themed icons, ready to be dropped right into your project.</small>
</h3>
<div class="row">
   <div class="col-sm-12">
      <h4 class="page-header mt0">Skycons</h4>
      <div class="row">
         <div class="col-xs-3">
            <div skycon="clear-day" color="#888" width="60" height="60" class="center-block"></div>
            <p><code>clear-day</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="clear-night" color="#888" width="60" height="60" class="center-block"></div>
            <p><code>clear-night</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="partly-cloudy-day" color="#888" width="60" height="60" class="center-block"></div>
            <p><code>partly-cloudy-day</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="partly-cloudy-night" color="#888" width="60" height="60" class="center-block"></div>
            <p><code>partly-cloudy-night</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="cloudy" color="#888" width="60" height="60" class="center-block"></div>
            <p><code>cloudy</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="rain" color="#888" width="60" height="60" class="center-block"></div>
            <p><code>rain</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="sleet" color="#888" width="60" height="60" class="center-block"></div>
            <p><code>sleet</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="snow" color="#888" width="60" height="60" class="center-block"></div>
            <p><code>snow</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="wind" color="#888" width="60" height="60" class="center-block"></div>
            <p><code>wind</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="fog" color="#888" width="60" height="60" class="center-block"></div>
            <p><code>fog</code>
            </p>
         </div>
      </div>
   </div>
</div>
<h4 class="page-header">Weather Icons</h4>
<div class="row">
   <div class="col-sm-12">
      <h4>New v1.3 Icons</h4>
   </div>
</div>
<div class="row">
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-umbrella"></em>
         </div>
         <span>wi-umbrella</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-windy"></em>
         </div>
         <span>wi-day-windy</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-cloudy"></em>
         </div>
         <span>wi-night-alt-cloudy</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-up-left"></em>
         </div>
         <span>wi-up-left</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-down-right"></em>
         </div>
         <span>wi-down-right</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-sleet"></em>
         </div>
         <span>wi-day-sleet</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-sleet"></em>
         </div>
         <span>wi-night-sleet</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-sleet"></em>
         </div>
         <span>wi-night-alt-sleet</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-sleet"></em>
         </div>
         <span>wi-sleet</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-haze"></em>
         </div>
         <span>wi-day-haze</span>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <h4>Moon Phases</h4>
   </div>
</div>
<div class="row">
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-new"></em>
         </div>
         <span>wi-moon-new</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waxing-cresent-1"></em>
         </div>
         <span>wi-moon-waxing-cresent-1</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waxing-cresent-2"></em>
         </div>
         <span>wi-moon-waxing-cresent-2</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waxing-cresent-3"></em>
         </div>
         <span>wi-moon-waxing-cresent-3</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waxing-cresent-4"></em>
         </div>
         <span>wi-moon-waxing-cresent-4</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waxing-cresent-5"></em>
         </div>
         <span>wi-moon-waxing-cresent-5</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waxing-cresent-6"></em>
         </div>
         <span>wi-moon-waxing-cresent-6</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-first-quarter"></em>
         </div>
         <span>wi-moon-first-quarter</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waxing-gibbous-1"></em>
         </div>
         <span>wi-moon-waxing-gibbous-1</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waxing-gibbous-2"></em>
         </div>
         <span>wi-moon-waxing-gibbous-2</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waxing-gibbous-3"></em>
         </div>
         <span>wi-moon-waxing-gibbous-3</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waxing-gibbous-4"></em>
         </div>
         <span>wi-moon-waxing-gibbous-4</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waxing-gibbous-5"></em>
         </div>
         <span>wi-moon-waxing-gibbous-5</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waxing-gibbous-6"></em>
         </div>
         <span>wi-moon-waxing-gibbous-6</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-full"></em>
         </div>
         <span>wi-moon-full</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waning-gibbous-1"></em>
         </div>
         <span>wi-moon-waning-gibbous-1</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waning-gibbous-2"></em>
         </div>
         <span>wi-moon-waning-gibbous-2</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waning-gibbous-3"></em>
         </div>
         <span>wi-moon-waning-gibbous-3</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waning-gibbous-4"></em>
         </div>
         <span>wi-moon-waning-gibbous-4</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waning-gibbous-5"></em>
         </div>
         <span>wi-moon-waning-gibbous-5</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waning-gibbous-6"></em>
         </div>
         <span>wi-moon-waning-gibbous-6</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-3rd-quarter"></em>
         </div>
         <span>wi-moon-3rd-quarter</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waning-crescent-1"></em>
         </div>
         <span>wi-moon-waning-crescent-1</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waning-crescent-2"></em>
         </div>
         <span>wi-moon-waning-crescent-2</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waning-crescent-3"></em>
         </div>
         <span>wi-moon-waning-crescent-3</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waning-crescent-4"></em>
         </div>
         <span>wi-moon-waning-crescent-4</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waning-crescent-5"></em>
         </div>
         <span>wi-moon-waning-crescent-5</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-moon-waning-crescent-6"></em>
         </div>
         <span>wi-moon-waning-crescent-6</span>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <h4>Clocks</h4>
   </div>
</div>
<div class="row">
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-time-12"></em>
         </div>
         <span>wi-time-12</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-time-1"></em>
         </div>
         <span>wi-time-1</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-time-2"></em>
         </div>
         <span>wi-time-2</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-time-3"></em>
         </div>
         <span>wi-time-3</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-time-4"></em>
         </div>
         <span>wi-time-4</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-time-5"></em>
         </div>
         <span>wi-time-5</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-time-6"></em>
         </div>
         <span>wi-time-6</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-time-7"></em>
         </div>
         <span>wi-time-7</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-time-8"></em>
         </div>
         <span>wi-time-8</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-time-9"></em>
         </div>
         <span>wi-time-9</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-time-10"></em>
         </div>
         <span>wi-time-10</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-time-11"></em>
         </div>
         <span>wi-time-11</span>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <h4>Beaufort Wind Scale</h4>
   </div>
</div>
<div class="row">
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-beafort-0"></em>
         </div>
         <span>wi-beafort-0</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-beafort-1"></em>
         </div>
         <span>wi-beafort-1</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-beafort-2"></em>
         </div>
         <span>wi-beafort-2</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-beafort-3"></em>
         </div>
         <span>wi-beafort-3</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-beafort-4"></em>
         </div>
         <span>wi-beafort-4</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-beafort-5"></em>
         </div>
         <span>wi-beafort-5</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-beafort-6"></em>
         </div>
         <span>wi-beafort-6</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-beafort-7"></em>
         </div>
         <span>wi-beafort-7</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-beafort-8"></em>
         </div>
         <span>wi-beafort-8</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-beafort-9"></em>
         </div>
         <span>wi-beafort-9</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-beafort-10"></em>
         </div>
         <span>wi-beafort-10</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-beafort-11"></em>
         </div>
         <span>wi-beafort-11</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-beafort-12"></em>
         </div>
         <span>wi-beafort-12</span>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <h4>Wind Directions - 0 degrees through 345 degrees</h4>
      <p>Wind direction icons use CSS3 tranform to rotate. Choose your interpretation; point to the wind source, or point in the wind direction. Example: pointing to an east wind would be wi-wind-default _90-deg, but pointing in the direction of an east
         wind would be wi-wind-default _270deg. This should give everyone the felxibility they need without having alias names or 24 separate glyphs.</p>
   </div>
</div>
<div class="row">
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _0-deg"></em>
         </div>
         <span>wi-wind-default _0-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _15-deg"></em>
         </div>
         <span>wi-wind-default _15-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _30-deg"></em>
         </div>
         <span>wi-wind-default _30-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _45-deg"></em>
         </div>
         <span>wi-wind-default _45-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _60-deg"></em>
         </div>
         <span>wi-wind-default _60-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _75-deg"></em>
         </div>
         <span>wi-wind-default _75-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _90-deg"></em>
         </div>
         <span>wi-wind-default _90-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _105-deg"></em>
         </div>
         <span>wi-wind-default _105-deg</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _120-deg"></em>
         </div>
         <span>wi-wind-default _120-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _135-deg"></em>
         </div>
         <span>wi-wind-default _135-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _150-deg"></em>
         </div>
         <span>wi-wind-default _150-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _165-deg"></em>
         </div>
         <span>wi-wind-default _165-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _180-deg"></em>
         </div>
         <span>wi-wind-default _180-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _195-deg"></em>
         </div>
         <span>wi-wind-default _195-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _210-deg"></em>
         </div>
         <span>wi-wind-default _210-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _225-deg"></em>
         </div>
         <span>wi-wind-default _225-deg</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _240-deg"></em>
         </div>
         <span>wi-wind-default _240-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _255-deg"></em>
         </div>
         <span>wi-wind-default _255-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _270-deg"></em>
         </div>
         <span>wi-wind-default _270-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _285-deg"></em>
         </div>
         <span>wi-wind-default _285-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _300-deg"></em>
         </div>
         <span>wi-wind-default _300-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _315-deg"></em>
         </div>
         <span>wi-wind-default _315-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _330-deg"></em>
         </div>
         <span>wi-wind-default _330-deg</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-wind-default _345-deg"></em>
         </div>
         <span>wi-wind-default _345-deg</span>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <h4>New v1.2</h4>
   </div>
</div>
<div class="row">
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-smoke"></em>
         </div>
         <span>wi-smoke</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-dust"></em>
         </div>
         <span>wi-dust</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-snow-wind"></em>
         </div>
         <span>wi-snow-wind</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-snow-wind"></em>
         </div>
         <span>wi-day-snow-wind</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-snow-wind"></em>
         </div>
         <span>wi-night-snow-wind</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-snow-wind"></em>
         </div>
         <span>wi-night-alt-snow-wind</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-sleet-storm"></em>
         </div>
         <span>wi-day-sleet-storm</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-sleet-storm"></em>
         </div>
         <span>wi-night-sleet-storm</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-sleet-storm"></em>
         </div>
         <span>wi-night-alt-sleet-storm</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-snow-thunderstorm"></em>
         </div>
         <span>wi-day-snow-thunderstorm</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-snow-thunderstorm"></em>
         </div>
         <span>wi-night-snow-thunderstorm</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-snow-thunderstorm"></em>
         </div>
         <span>wi-night-alt-snow-thunderstorm</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-solar-eclipse"></em>
         </div>
         <span>wi-solar-eclipse</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-lunar-eclipse"></em>
         </div>
         <span>wi-lunar-eclipse</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-meteor"></em>
         </div>
         <span>wi-meteor</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-hot"></em>
         </div>
         <span>wi-hot</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-hurricane"></em>
         </div>
         <span>wi-hurricane</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-smog"></em>
         </div>
         <span>wi-smog</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-alien"></em>
         </div>
         <span>wi-alien</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-snowflake-cold"></em>
         </div>
         <span>wi-snowflake-cold</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-stars"></em>
         </div>
         <span>wi-stars</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-partly-cloudy"></em>
         </div>
         <span>night-partly-cloudy</span>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <h4>Day / Sunny</h4>
   </div>
</div>
<div class="row">
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-cloudy-gusts"></em>
         </div>
         <span>wi-day-cloudy-gusts</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-cloudy-windy"></em>
         </div>
         <span>wi-day-cloudy-windy</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-cloudy"></em>
         </div>
         <span>wi-day-cloudy</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-fog"></em>
         </div>
         <span>wi-day-fog</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-hail"></em>
         </div>
         <span>wi-day-hail</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-lightning"></em>
         </div>
         <span>wi-day-lightning</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-rain-mix"></em>
         </div>
         <span>wi-day-rain-mix</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-rain-wind"></em>
         </div>
         <span>wi-day-rain-wind</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-rain"></em>
         </div>
         <span>wi-day-rain</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-showers"></em>
         </div>
         <span>wi-day-showers</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-snow"></em>
         </div>
         <span>wi-day-snow</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-sprinkle"></em>
         </div>
         <span>wi-day-sprinkle</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-sunny-overcast"></em>
         </div>
         <span>wi-day-sunny-overcast</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-sunny"></em>
         </div>
         <span>wi-day-sunny</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-storm-showers"></em>
         </div>
         <span>wi-day-storm-showers</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-day-thunderstorm"></em>
         </div>
         <span>wi-day-thunderstorm</span>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <h4>Neutral / Cloudy</h4>
   </div>
</div>
<div class="row">
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-cloudy-gusts"></em>
         </div>
         <span>wi-cloudy-gusts</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-cloudy-windy"></em>
         </div>
         <span>wi-cloudy-windy</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-cloudy"></em>
         </div>
         <span>wi-cloudy</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-fog"></em>
         </div>
         <span>wi-fog</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-hail"></em>
         </div>
         <span>wi-hail</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-lightning"></em>
         </div>
         <span>wi-lightning</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-rain-mix"></em>
         </div>
         <span>wi-rain-mix</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-rain-wind"></em>
         </div>
         <span>wi-rain-wind</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-rain"></em>
         </div>
         <span>wi-rain</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-showers"></em>
         </div>
         <span>wi-showers</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-snow"></em>
         </div>
         <span>wi-snow</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-sprinkle"></em>
         </div>
         <span>wi-sprinkle</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-storm-showers"></em>
         </div>
         <span>wi-storm-showers</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-thunderstorm"></em>
         </div>
         <span>wi-thunderstorm</span>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <h4>Night / Moons</h4>
   </div>
</div>
<div class="row">
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-cloudy-gusts"></em>
         </div>
         <span>wi-night-alt-cloudy-gusts</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-cloudy-windy"></em>
         </div>
         <span>wi-night-alt-cloudy-windy</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-hail"></em>
         </div>
         <span>wi-night-alt-hail</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-lightning"></em>
         </div>
         <span>wi-night-alt-lightning</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-rain-mix"></em>
         </div>
         <span>wi-night-alt-rain-mix</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-rain-wind"></em>
         </div>
         <span>wi-night-alt-rain-wind</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-rain"></em>
         </div>
         <span>wi-night-alt-rain</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-showers"></em>
         </div>
         <span>wi-night-alt-showers</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-snow"></em>
         </div>
         <span>wi-night-alt-snow</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-sprinkle"></em>
         </div>
         <span>wi-night-alt-sprinkle</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-storm-showers"></em>
         </div>
         <span>wi-night-alt-storm-showers</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-alt-thunderstorm"></em>
         </div>
         <span>wi-night-alt-thunderstorm</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-clear"></em>
         </div>
         <span>wi-night-clear</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-cloudy-gusts"></em>
         </div>
         <span>wi-night-cloudy-gusts</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-cloudy-windy"></em>
         </div>
         <span>wi-night-cloudy-windy</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-cloudy"></em>
         </div>
         <span>wi-night-cloudy</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-hail"></em>
         </div>
         <span>wi-night-hail</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-lightning"></em>
         </div>
         <span>wi-night-lightning</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-rain-mix"></em>
         </div>
         <span>wi-night-rain-mix</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-rain-wind"></em>
         </div>
         <span>wi-night-rain-wind</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-rain"></em>
         </div>
         <span>wi-night-rain</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-showers"></em>
         </div>
         <span>wi-night-showers</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-snow"></em>
         </div>
         <span>wi-night-snow</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-sprinkle"></em>
         </div>
         <span>wi-night-sprinkle</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-storm-showers"></em>
         </div>
         <span>wi-night-storm-showers</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-thunderstorm"></em>
         </div>
         <span>wi-night-thunderstorm</span>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <h4>Miscellaneous Weather</h4>
   </div>
</div>
<div class="row">
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-celsius"></em>
         </div>
         <span>wi-celsius</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-cloud-down"></em>
         </div>
         <span>wi-cloud-down</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-cloud-refresh"></em>
         </div>
         <span>wi-cloud-refresh</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-cloud-up"></em>
         </div>
         <span>wi-cloud-up</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-cloud"></em>
         </div>
         <span>wi-cloud</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-degrees"></em>
         </div>
         <span>wi-degrees</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-down-left"></em>
         </div>
         <span>wi-down-left</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-down"></em>
         </div>
         <span>wi-down</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-fahrenheit"></em>
         </div>
         <span>wi-fahrenheit</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-horizon-alt"></em>
         </div>
         <span>wi-horizon-alt</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-horizon"></em>
         </div>
         <span>wi-horizon</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-left"></em>
         </div>
         <span>wi-left</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-lightning"></em>
         </div>
         <span>wi-lightning</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-night-fog"></em>
         </div>
         <span>wi-night-fog</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-refresh-alt"></em>
         </div>
         <span>wi-refresh-alt</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-refresh"></em>
         </div>
         <span>wi-refresh</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-right"></em>
         </div>
         <span>wi-right</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-sprinkles"></em>
         </div>
         <span>wi-sprinkles</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-strong-wind"></em>
         </div>
         <span>wi-strong-wind</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-sunrise"></em>
         </div>
         <span>wi-sunrise</span>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-sunset"></em>
         </div>
         <span>wi-sunset</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-thermometer-exterior"></em>
         </div>
         <span>wi-thermometer-exterior</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-thermometer-internal"></em>
         </div>
         <span>wi-thermometer-internal</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-thermometer"></em>
         </div>
         <span>wi-thermometer</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-tornado"></em>
         </div>
         <span>wi-tornado</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-up-right"></em>
         </div>
         <span>wi-up-right</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-up"></em>
         </div>
         <span>wi-up</span>
      </div>
      <div class="mb">
         <div class="text-md mr">
            <em class="wi wi-windy"></em>
         </div>
         <span>wi-windy</span>
      </div>
   </div>
</div>